@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  50% {
    transform: rotate(5deg) translate(20px, -50px);
  }

  to {
    transform: scale(0.9) rotate(10deg) translate(50px, -80px);
    opacity: 0;
  }
}

.icon-container:active svg:last-child {
  animation: bounce 0.2s 1 linear;
}
